table {
    border: 1px solid orangered;
    width: 800px;
    height: 20px;
    table-layout: fixed;
    
    
  }
    
 

td{
  border :1px solid  orangered;
  text-align: center;
  width: 80px;
  height: 20px;
  table-layout: fixed;
}