table {
  border :1px solid  orangered;
    width: 80px;
    height: 20px;
    table-layout: fixed;
    
    
  }
    
button{
  border: 2 px solid black;
}

td{
  border :1px solid  orangered;
  text-align: center;
  width: 80px;
  height: 20px;
  table-layout: fixed;
}